<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zskjprojectj.andoubusinessside">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activity.SelectExpressActivity"></activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JoinInfoUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DateOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DishOrderListActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewDishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinishHotelOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CancelOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UnCheckInOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefundOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditPriceSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditPriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserCenterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>