<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zskjprojectj.andoubusinessside">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DateOrderDetailActivity"></activity>
        <activity android:name=".activity.DishOrderListActivityActivity" />
        <activity android:name=".activity.NewDishActivity" />
        <activity android:name=".activity.FinishHotelOrderListActivity" />
        <activity android:name=".activity.CancelOrderListActivity" />
        <activity android:name=".activity.NewRoomActivity" />
        <activity android:name=".activity.HotelOrderDetailActivity" />
        <activity android:name=".activity.UnCheckInOrderListActivity" />
        <activity android:name=".activity.NoticeDetailActivity" />
        <activity android:name=".activity.NoticeListActivity" />
        <activity android:name=".activity.FindPasswordActivityActivity" />
        <activity android:name=".activity.NewGoodsActivity" />
        <activity android:name=".activity.GoodsCategoryActivity" />
        <activity android:name=".activity.ManageGoodsActivity" />
        <activity android:name=".activity.CashOutActivity" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.RefundActivity" />
        <activity android:name=".activity.RefundOrderListActivity" />
        <activity android:name=".activity.SendActivity" />
        <activity android:name=".activity.ReviewDetailActivity" />
        <activity android:name=".activity.ChartActivity" />
        <activity android:name=".activity.ManageShopActivity" />
        <activity android:name=".activity.EditPriceSuccessActivity" />
        <activity android:name=".activity.EditPriceActivity" />
        <activity android:name=".activity.OrderInfoActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity android:name=".activity.UserCenterActivity" />
    </application>

</manifest>